.link {
  padding: 0.5rem 1.25rem;
  color: #202227;
  font-size: 14px;
  display: flex;
  align-items: center;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.link:hover {
  color: #202227b4;
  transition: all 0.3s ease-in-out;
}
.mobileLink {
  width: min-content;
  height: 36px;
  text-align: center;
  white-space: nowrap;
  padding: 7px 20px;
  font-size: 14px;
  color: #ffff;
  border-radius: 999px;
  border: 2px solid #202227;
  background: #2a2d33;
  box-shadow: 2px 2px 0px 0px #202227;
  transition: all 0.3s ease-in-out;
}
.mobileLink:hover {
  background: rgba(32, 34, 39, 0.704);
  transition: all 0.3s ease-in-out;
}
