.link {
  padding: 7px 12px;
  color: #202227;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  letter-spacing: 0.05em;
  white-space: nowrap;
}
.link:hover {
  color: #202227b4;
  transition: all 0.3s ease-in-out;
}
